__pycache__
_testoutput/
.coverage
.eslintcache
.ipynb_checkpoints/
.pytest_cache/
.venv/
.yarn-packages/
*.doit.*
*.egg-info/
*.log
*.tsbuildinfo
build/
dist/
htmlcov/
node_modules/
packages/*/lib
src/*/labextensions
untitled*
Untitled*
